.header__logo {
  max-width: 142px;
  min-height: 33px;
  object-fit: contain;
  object-position: center;
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 104px;
    min-height: 25px;
    padding-left: 27px;
  }
}
