.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  background-image: url(../../../images/edit-form-close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: opacity .3s ease;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 635px) {
  .popup__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
