.profile {
  display: grid;
  grid-template-columns: min-content 366px 1fr;
  align-items: center;
  padding: 40px 0 0 0;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .profile {
    display: flex;
    flex-direction: column;
    padding-top: 42px;
  }
}
