.header__email {
  margin: 0;
  padding: 0 24px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

@media screen and (max-width: 635px) {
  .header__email {
    font-size: 14px;
    line-height: 17px;
    padding: 5px 0 0 0;
  }
}