.auth-form__input {
    border: none;
    background-color: transparent;
    min-width: 358px;
    margin: 0;
    padding: 30px 0 8px 0;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ccc;
}

@media screen and (max-width: 635px) {
    .auth-form__input {
        min-width: 260px;
    }
}