.auth-form__title {
  min-width: 358px;
  margin: 0 0 20px 0;
  padding: 60px 0 0 0;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

@media screen and (max-width: 635px) {
  .auth-form__title {
    padding-top: 40px;
    margin-bottom: 10px;
    min-width: 260px;
    font-size: 20px;
    line-height: 24px;
  }
}