.footer__copy {
  margin: 0 0 60px 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 700px) {
  .footer__copy {
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
  }
}
